<div class="info-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 container-warp">
        <div class="row">
          <div class="col-md-6">
            <div class="hero-info mb-4 mb-md-0">
              <ul>
                <li><span>Date of Birth</span>Aug 24, 1983</li>
                <li><span>Address</span>Annandale, VA 22003</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="hero-info">
              <ul>
                <li><span>E-mail</span>mishu_dc@yahoo.com</li>
                <li><span>Phone </span>+1-571-409-8514</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>