<div class="home-six-style">
  <!-- Header section start -->
  <!-- <header-section></header-section> -->
  <!-- Header section end -->
  <!-- Hero section start -->
  <intro-section></intro-section>
  <!-- Hero section end -->
  <!-- Info section start -->
  <info-section></info-section>
  <!-- Info section end -->
  <!-- portfolio section start -->
  <portfolio-section></portfolio-section>
  <!-- portfolio section end -->
  <!-- Resume section start -->
  <resume-section></resume-section>

  <!-- Footer section start -->
  <footer-section></footer-section>
</div>
