<div class="spad">
  <div class="section-title">
    <h2>Certifications</h2>
  </div>
  <ul class="resume-list">
    <li>
      <h4><a (click)="onNavigate('https://www.youracclaim.com/badges/61da9d43-4037-4853-b469-44a14ccf18ae')" class="external-link">MCSD: App Builder</a></h4>
      <h4><a (click)="onNavigate('https://www.youracclaim.com/badges/19e9f8f0-212d-47ea-a9fd-417771db8408')" class="external-link">MCSA: Web Applications</a></h4>
      <h4><a (click)="onNavigate('https://www.youracclaim.com/badges/8002a61e-adcb-439f-b7b0-18cc6c451c13')" class="external-link">Exam 483: Programming in C#</a></h4>
      <h4><a (click)="onNavigate('https://www.youracclaim.com/badges/a5744999-f64b-4a9a-b10b-07d69c7ad3dc')" class="external-link">Exam 486: Developing ASP.NET MVC Web Applications</a></h4>
      <h4><a (click)="onNavigate('https://www.youracclaim.com/badges/4be776ff-3d09-412b-8669-8bf30bc39e80')" class="external-link">Exam 487: Developing Microsoft Azure and Web Services</a></h4>
    </li>
  </ul>
</div>