<div class="section-title">
  <h2>Work Experience</h2>
</div>
<ul class="resume-list">
    <li>
        <h2>2019-Present</h2>
        <h3>Software Engineer - II@<a (click)="onNavigate('https://nete.com/')" class="external-link">NETE</a></h3>
        <br/>
        <ul class="job-roles">
          <li>Design and develop new features and/or maintain existing applications developed on ASP.NET MVC.</li>
          <li>Develop code and supporting documentation.</li>
          <li>Analyze business needs, develop requirements, design, develop and test custom software solutions.</li>
          <li>Provide technical leadership and take multiple systems and cross system integration into account when designing and developing solutions.</li>
          <li>Work with customers to understand and implement new requirements.</li>
        </ul>
    </li>
  <li>
      <h2>2015-2019</h2>
      <h3>Software Engineer@<a (click)="onNavigate('https://www.drfirst.com/')" class="external-link">DrFirst, Inc</a></h3>
      <br/>
      <ul class="job-roles">
        <li>Projects: <span class="highlight">Electronic Prior Authorization, Patient Real Time Benefit Inquiry, Gaps in Care, Care Cost Estimator </span> etc.</li>
        <li>Collaborate with developers, QA, product owner and scrum master to assess requirements, prioritize needs and produce high quality product.</li>
        <li>Worked in a <span class="highlight">React</span> web portal as a front end developer.</li>
        <li>Took the lead role in multiple UATs with <span class="highlight">Humana</span>, <span class="highlight">Argus</span>, <span class="highlight">United Health Group</span> on behalf of DrFirst.</li>
        <li>Played the role of an acting application delivery manager for a short period of time.</li>
        <li>Participated in the myBenefitCheck project for <span class="highlight">Humana</span> which was reported in <b>Yahoo Finance</b> in 2015. <a (click)="onNavigate('https://www.drfirst.com/news/drfirst-launches-mybenefitcheck-real-time-benefit-check-capabilities-to-help-patients-better-manage-medication-costs-and-adherence')" class="external-link">Details...</a></li>
      </ul>
  </li>
  <li>
      <h2>2011-2014</h2>
      <h3>Software Engineer@<a (click)="onNavigate('http://www.xpertlabbd.com')" class="external-link">XpertLab BD Ltd.</a></h3>
      <br/>
      <ul class="job-roles">
          <li>Projects: <span class="highlight">E-Commerce System, Mobile based Order Capturing System, Distribution Management System</span> etc.</li>
          <li>Collaborate with developers, QA, product owner and scrum master to assess requirements, prioritize needs and produce high quality product.</li>
          <li>Mobile based Order Capturing System helped one renounced pharmaceutical company to double the number of invoices on month opening.</li>
          <li>Designing, developing and maintaining applications according to requirements using <span class="highlight">C#.net, Asp.Net MVC, Web API, SQL Server.</span></li>
          <li>Developed a Payroll Management System as a POC within a week to assist the sales team to provide a demo to a client.</li>          
          <li>Re-factoring, fixing bugs and performance issues in existing systems.</li>
      </ul>
  </li>
  <li>
      <h2>2006-2010</h2>
      <h3>Programmer Analyst@<a (click)="onNavigate('http://www.celimited.com')" class="external-link">Computer Ease Ltd.</a></h3>
      <br/>
      <ul class="job-roles">
          <li>Projects: <span class="highlight">Humane Resource Management, Payroll Management System, Distribution Management System.</span></li>
          <li>Participated in different steps of SDLC.</li>
          <li>Designed and developed application based on requirements using <span class="highlight">C#.net, Asp.Net, SQL Server, SOAP Services, J2ME.</span></li>
          <li>Migrated legacy Visual Basic project To C#.net</li>
      </ul>
  </li>
</ul>