<div class="spad">
    <div class="section-title">
      <h2>Publications</h2>
    </div>
    <ul class="resume-list">
      <li>
          <h3>
            <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6164883" target="_blank">
              Incorporation of dynamic parameters in hybrid feature-based Bangla phoneme recognition using multilayer Neural Networks
            </a>
          </h3>
          <p>This paper presents a Neural Network-based Bangla phoneme recognition method for Automatic Speech Recognition (ASR). The method consists of three stages: at first stage, a multilayer neural network (MLN) converts acoustic features, mel frequency cepstral coefficients (MFCCs), into phoneme probabilities, where the second stage computes dynamic (velocity (Δ) and acceleration (ΔΔ)) parameters from the phoneme probabilities by using three point linear regression (LR). Finally, the phoneme probabilities, dynamic parameters, Δ and ΔΔ, and the input MFCCs, combined as hybrid features, are fed into a hidden Markov model (HMM) based classifier to obtain more accurate phoneme strings. From the experiments on Bangla speech corpus prepared by us, it is observed that the proposed method provides higher phoneme recognition performance than the existing method. Moreover, it requires a fewer mixture components in the HMMs.</p>
      </li>
      <li>
          <h3>
            <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6112900" target="_blank">
              Hybrid Features for Neural Network-Based Bangla ASR Incorporrating Velocity Coefficients (?)
            </a>
          </h3>
          <p>This paper presents a Neural Network-based Bangla phoneme recognition method for Automatic Speech Recognition (ASR). The method consists of three stages: at first stage, a multilayer neural network (MLN) converts acoustic features, mel frequency cepstral coefficients (MFCCs), into phoneme probabilities, where the second stage computes velocity (Δ) coefficients from the phoneme probabilities by using three point linear regression (LR). Finally, the phoneme probabilities, velocity (Δ) coefficients and the input MFCCs, combined as hybrid features, are fed into a hidden Markov model (HMM) based classifier to obtain more accurate phoneme strings. From the experiments on Bangla speech corpus prepared by us, it is observed that the proposed method provides higher phoneme recognition performance than the existing method. Moreover, it requires a fewer mixture components in the HMMs.</p>
      </li>
      <li>
          <h3>
            <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6112895" target="_blank">
              Gender Effects Suppression in Bangla ASR by Designing Multiple HMM-Based Classifiers
            </a>
          </h3>
          <p>Speaker-specific characteristics play an important role on the performance of Bangla (widely used as Bengali) automatic speech recognition (ASR). It is difficult to recognize speech affected by gender factors, especially when an ASR system contains only a single acoustic model. If there exists any suppression process that represses the decrease of differences in acoustic-likelihood among categories resulted from gender factors, a robust ASR system can be realized. In this paper, we have proposed a technique of gender effects suppression that composed of two hidden Markov model (HMM)-based classifiers and that focused on a gender factor. In an experiment on Bangla speech database prepared by us, the proposed system has provided a significant improvement of word correct rate, word accuracy and sentence correct rate in comparison with the method that incorporates only a single HMM-based classifier for both male and female speakers.</p>
      </li>
    </ul>
  </div>