<section class="hero-section">
  <div class="container-fluid text-center">
    <!-- <img src="../../assets/images/profile.jpg" alt=""> -->
    <div class="row hero-text">
      <div class="col-xl-8 offset-xl-2">
          <h2>Faisal Ahmed</h2>
          <h4>
            <a href="https://www.youracclaim.com/badges/19e9f8f0-212d-47ea-a9fd-417771db8408" target="_blank"><span class="highlight">Software Engineer-MCSD: App Builder</span></a>
          </h4>
          <br/>
          <a href="../../assets/Resume-Faisal-Ahmed.pdf" target="_blank" class="site-btn">Download Resume</a>
          <p style="text-align: center">
            Full-stack software developer with <span class="highlight">12+ years</span> of experience in web development using 
            <span class="highlight">C#.net</span>, 
            <span class="highlight">Asp.net MVC </span>, 
            <span class="highlight">Asp.net Web API</span>, 
            <span class="highlight">Entity Framework</span>, 
            <span class="highlight">React</span> and 
            <span class="highlight">Angular</span>. 
            Web Automation using Selenium WebDriver and Cucumber.
            My focus of engineering is <span class="highlight">full-stack development</span> with Back-End in C#, Asp.net MVC, Asp.net Web API and with UI in Javascript, Angular, React etc.
            <!-- Currently looking for a full time position as a <span class="highlight">full-stack developer</span> in a challenging environment 
            to utilize my skill and knowledge to the best of my abilities and contribute positively for my personal growth as well as the growth of the organization. -->
          </p>
          <div class="social-links">
            <a (click)="onNavigate('https://www.linkedin.com/in/faisal-ahmed-se')"><i class="fa fa-linkedin"></i></a>
            <a (click)="onNavigate('https://github.com/mishu-dc')"><i class="fa fa-github"></i></a>
            <a (click)="onNavigate('https://leetcode.com/mishu_dc')"><i class="fa fa-code"></i></a>
          </div>
      </div>
    </div>
  </div>
</section>