<section class="skill-section spad">
  <div class="section-title text-center">
    <h2>Skills</h2>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="skills pt-5 pt-lg-0">
        <div class="single-progress-item">
          <p class="highlight">C#.net</p>
        </div>
        <div class="single-progress-item">
          <p class="highlight">Asp.net MVC</p>
        </div>
        <div class="single-progress-item">
          <p class="highlight">Asp.net Web API</p>
        </div>
        <div class="single-progress-item">
          <p class="highlight">NHibernate</p>
        </div>
        <div class="single-progress-item">
          <p class="highlight">Entity Framework</p>
        </div>
        <div class="single-progress-item">
          <p>Java</p>
        </div>
        <div class="single-progress-item">
          <p>Selenium Webdriver</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="skills pt-5 pt-lg-0">
        <div class="single-progress-item">
          <p>HTML</p>
        </div>
        <div class="single-progress-item">
          <p>CSS</p>
        </div>
        <div class="single-progress-item">
          <p>Java Script</p>
        </div>
        <div class="single-progress-item">
          <p>jQuery</p>
        </div>
        <div class="single-progress-item">
          <p class="highlight">React</p>
        </div>
        <div class="single-progress-item">
          <p class="highlight">Angular</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
        <div class="skills pt-5 pt-lg-0">
          <div class="single-progress-item">
            <p class="highlight">Git</p>
          </div>
          <div class="single-progress-item">
            <p>SVN</p>
          </div>
          <div class="single-progress-item">
            <p class="highlight">SQL Server</p>
          </div>
          <div class="single-progress-item">
            <p>Oracle</p>
          </div>
          <div class="single-progress-item">
            <p class="highlight">Visual Studio, VS Code</p>
          </div>
          <div class="single-progress-item">
              <p>Agile, Waterfall</p>
          </div>
          <div class="single-progress-item">
              <p>Jira, Confluence</p>
          </div>
        </div>
    </div>
  </div>
</section>