<section class="resume-section spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-xl-8 offset-lg-1 offset-xl-2 container-warp text-center p-xl-0">
        <skill-section></skill-section>
        <experience-section></experience-section>
      </div>
      <div class="col-lg-10 col-xl-6 offset-lg-1 offset-xl-3 container-warp text-center p-xl-0">
        <education-section></education-section>
        <achievement-section></achievement-section>
        <certification-section></certification-section>
        <publication-section></publication-section>
      </div>
    </div>
  </div>
</section>